header{

}

.nav-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.burger-menu{
    position: relative;
    width: 25px;
    height: 2px;
    background-color: white;

    &::before{
        content: '';
        position: absolute;
        width: 25px;
        height: 2px;
        background-color: white;
        top: 4px;
    }
    
    &::after{
        content: '';
        position: absolute;
        width: 25px;
        height: 2px;
        background-color: white;
        bottom: 4px;
    }
}

